# {{ ansible_managed }}

set daemon {{ monit_cycle }}

set logfile {{ monit_log_destination }}
set statefile {{ monit_state_file }}
set idfile {{ monit_id_file }}

{% if monit_eventqueue.enabled %}
set eventqueue
  basedir {{ monit_eventqueue.dir | default('/var/lib/monit/events') }}
  slots {{ monit_eventqueue.slots | default(1000) }}
  set mmonit {{ monit_eventqueue.address }}
{% endif %}

include {{ monit_includes }}/*
