# {{ ansible_managed }}

{% if ansible_port is defined %}
Port {{ ansible_port }}
{% else %}
# Port 22
{% endif %}
Protocol 2

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
UsePrivilegeSeparation Sandbox

# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication:
LoginGraceTime 2m
PermitRootLogin no
StrictModes yes
PubkeyAuthentication yes
AuthorizedKeysFile	%h/.ssh/authorized_keys

IgnoreRhosts yes
HostbasedAuthentication no

PermitEmptyPasswords no
ChallengeResponseAuthentication yes
PasswordAuthentication no

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
GSSAPIKeyExchange yes
GSSAPIStoreCredentialsOnRekey yes

X11Forwarding yes
X11UseLocalhost no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

MaxStartups 10:30:60
MaxAuthTries 2
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes

AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts no
Pidfile /var/run/sshd.pid

PermitTunnel yes
PermitTTY yes
IgnoreUserKnownHosts no
RSAAuthentication no
KeepAlive yes
