## {{ ansible_managed }} ##

## archive.raspbian.org ##
deb http://archive.raspbian.org/raspbian {{ apt_sources.os_name }} main contrib non-free firmware rpi
deb-src http://archive.raspbian.org/raspbian {{ apt_sources.os_name }} main contrib non-free firmware rpi
deb http://archive.raspbian.org/raspbian {{ apt_sources.os_name }}-staging main contrib non-free firmware rpi
deb-src http://archive.raspbian.org/raspbian {{ apt_sources.os_name }}-staging main contrib non-free firmware rpi

## archive.raspberrypi.org ##
deb http://archive.raspberrypi.org/debian {{ apt_sources.os_name }} main
deb-src http://archive.raspberrypi.org/debian {{ apt_sources.os_name }} main

{% if apt_sources.backports is defined %}
## ftp.debian.org for backports ##
deb http://ftp.debian.org/debian {{ apt_sources.os_name }}-backports main contrib non-free
deb-src http://ftp.debian.org/debian {{ apt_sources.os_name }}-backports main contrib non-free
{% endif %}
