#!/bin/bash -e

cd "/tmp/nginx/{{ openssl_version }}" &&

./config --prefix=/usr &&
sudo make &&
sudo checkinstall -y \
    --maintainer {{ ansible_user_id }} \
    --pkgname openssl \
    --pkgversion {{ openssl_version }} \
    --pakdir /tmp/nginx
